

body {

    font-family: 'Ubuntu',  Arial, sans-serif;
    height: 2500px;
    width: 100%;
    margin: 0px;


}


header {
    height: 350px;
    width: 1400px;

}


.conteiner_for_all_header_and_Asteroid {
    background-image: url('https://abrakadabra.fun/uploads/posts/2022-03/1646106285_5-abrakadabra-fun-p-molniya-na-zelenom-fone-12.jpg');

    width: 1600px;
    height: 800px;
    border-bottom: black solid 5px;
}


.login_user { 
    margin: 20px 20px 20px 0px;
}


.login { 
    text-decoration: none;
    color: aliceblue;

}


.wrapper_navigation {

    margin: 25px 0px 0px 0px;
    color: aliceblue;
    width: 90px;
    height: 50px;

}






.left_nav_real {
    text-decoration: none;
    margin: 0px 0px 0px 120px;
    float: left;
    height: 100px;
    width: 160px;

}






nav {
    
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 30px 30px;
    padding: 50px 0px 0px 50px;
  
    width: 1400px;
}


nav a {
    text-decoration: none;
    color: aliceblue;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;


}

.span_for_h1 {
    font-size: 30px;
    text-align: center;
}







.style_for_h1::before {
    content: url('static/Asteroid_app_1/images/Asteroid_img.png');
    display: inline-block;
    height: 50px;
    width: 50px

}

.style_for_h1 {
    height: 300px;
    font-size: 150px;
    margin: 0px 0px 0px 0px;
}



.span_for_h1 {
    font-size: 50px;
    text-align: center;
    margin: 0px 0px 0px 200px;
    height: 125px;
    width: 600px;
}


.Asteroid_section {
    margin: 150px 50px 0px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 250px;
    color: aliceblue;
}


.conteiner_for_all_search {
    display: flex;
    justify-content: center;
    height: 150px;
}

.search_box { 
    background-color: aliceblue;
    width: 30%;
    height: 30%;
    padding: 25px 0px 0px 25px;
    margin: 0px 0px 0px 25px;
    border-radius: 50px;
}

.search_box_img {
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0xp 0px;
    height: 15xp;
    width: 15px;
}



.all_main_1 {
    height: 1800px;
}



.lozung_about_my_programm_div {
    margin: 55px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
}


.lozung_about_my_programm_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100px;
    margin: 0px 0px 0px 0px;
    padding: 0px 30px 0px 30px;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    font-size: 35px;
    width: 850px;
}


.plusI_ptogrammmI_trenirovok {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}


.section_main {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

}


.mini_icons {
    width: 150px;
    height: 100px;
    border: solid black 1px;

}









.all_conteiner_for_footer {
    text-decoration: none;
    background-color: black;
    width: 1400px;
    height: 200px;
}

.top_part_of_footer {

    height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    color: aliceblue;
}


.follow_here { 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    height: 75px;
    color: aliceblue;
    font-size: 40px;

}


.bottom_part_of_footer { 
    
    height: 75px;
    display: flex;
    justify-content: space-around;
    
    
}

footer a {
    text-decoration: none;
    color: aliceblue;
}